* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;

}

body {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(15, 15, 15);
}

::-webkit-scrollbar-thumb {
    background: red;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 0, 0, 0.634);
}


/* start of header */
header {
    width: 100%;
    height: 100vh;
}

.head .baar {
    font-size: 30px;
    color: #a59797;
    display: none;
}

.head {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

header::before {
    content: "";
    background-image: url(../Images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
}

.head img {
    width: 150px;
    height: 90px;
}

#lang {
    min-width: 120px;
    min-height: 35px;
    margin-right: 15px;
    padding: 8px 0 8px 25px;
    border-radius: 5px;
    font-weight: 700;
    background-color: transparent;
    box-shadow: inset 2px -2px 17px 0px transparent;
    font-size: 15px;
    font-weight: 700;
    color: white;
    outline: none;
    border: 2px solid rgb(116, 113, 113);
    cursor: pointer;
}

optgroup {
    background-color: white;
    color: black;
}

.options {
    display: flex;
    align-items: center;
}

.options svg {
    position: relative;
    left: 25px;
    color: white;
}

.options button {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
}

.options button:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

.main {
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.main h2 {
    font-size: 45px;
    padding-bottom: 15px;
}

.first {
    font-size: 30px;
    padding-bottom: 15px;
}

.pra {
    font-size: 15px;
    padding-bottom: 15px;
}

.sub_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    width: 400px;
    height: 40px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: transparent;
    box-shadow: inset 2px -2px 17px 0px transparent;
    color: white;
    padding-left: 10px;
}

.sub_main button {
    min-width: calc(116px *1.5);
    height: calc(35px *1.5);
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 25px;
    padding: 0 15px;
}

.sub_main button:hover {
    background-color: rgba(255, 0, 0, 0.9);
}

/* end of header */

hr {
    height: 10px;
    background-color: #1d1d1d;
    outline: none;
    border: none;
}

.first_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 0;
    letter-spacing: 2px;
}

.sec {
    width: 50%;
    height: 100%;
    color: white;
    padding-left: 10%;
}

.sec h2 {
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 5px;
}

.sec p {
    font-size: 25px;
}

.video #im {
    width: 400px;
}

.video {
    position: relative;
    padding-right: 10%;
}

video {
    width: 293px;
    position: absolute;
    top: 61px;
    left: 52px;
    z-index: -1;
}

.second_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 70px 0;
    letter-spacing: 2px;
}

.download {
    width: fit-content;
    min-height: 20px;
    display: flex;
    align-items: center;
    color: white;
    border: 2px solid #232323;
    padding: 10px 8px;
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left: 20%;
    background-color: black;
}

#mobile {
    width: 250px;
    margin-left: 30%;
}

#poster {
    width: 50px;
}

.download div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    margin-left: 15px;
}

.text_1 {
    font-size: 15px;
    color: #0583F2;
}

#Gif {
    width: 50px;
    margin-left: auto;
}

.third_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 0;
}

#bm {
    width: 450px;
    position: relative;
}

#vid_2 {
    width: 280px;
    position: absolute;
    z-index: -1;
    top: 34px;
    left: 84px;

}

.fourth_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 0;
    letter-spacing: 2px;
}

.fourth_main img {
    width: 450px;
}

.fifth_main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    letter-spacing: 2px;
}

.Head_2 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.asks {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 300px;
    margin-top: 15px;
    padding: 0 10px;
}

ul {
    width: 100%;
}

li {
    width: 100%;
    min-height: 50px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #232323;
    padding: 15px 8px;
    cursor: pointer;
    transition-duration: 0.2s;
}

ul :hover {
    background-color: #333333;
}

li svg {
    font-size: 30px;
    transform: rotate(0deg);
    transition-duration: 0.2s;
}

ul :hover svg {
    transform: rotate(45deg);
}

li h3 {
    font-size: 25px;
    font-weight: 700;
}

.fifth_main p {
    font-size: 20px;
    color: white;
    line-height: 40px;
    padding: 10px 0;
}

.sign {
    display: flex;
    align-items: center;
}

.sign input[type="email"] {
    height: calc(35px * 1.5);
    background-color: #333333;
    outline: 1px solid rgb(4, 180, 4);
}

.sign button {
    min-width: calc(116px *1.5);
    height: calc(35px *1.5);
    border-radius: 5px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 25px;
    padding: 0 15px;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 70px 0 70px 15%;
}

footer a {
    color: #ffffffb7;
    padding: 15px 0;
    cursor: pointer;
    display: block;
    font-size: 15px;
    text-decoration: none;
}

.foot {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.foot a {
    font-size: 10px;

}

#language {
    width: fit-content;
    padding: 8px 0 8px 25px;
    border-radius: 5px;
    font-weight: 700;
    background-color: transparent;
    box-shadow: inset 2px -2px 17px 0px transparent;
    font-size: 15px;
    font-weight: 700;
    color: white;
    outline: none;
    border: 2px solid rgb(116, 113, 113);
}

#icons {
    color: white;
}

footer .options {
    margin: 15px 0 15px -20px;
    padding: 10px;
}

footer p {
    color: #ffffffb7;
    font-size: 15px;
}

/* media querry */

@media (max-width:992px) {
    .main h2 {
        font-size: 40px;
    }

    .main .first {
        font-size: 25px;
    }

    .main .pra {
        font-size: 10px;
    }

    .sub_main {
        flex-direction: column;

    }

    .sub_main input[type='email'] {
        margin: 0 0 10px 0;
    }

    .sub_main button {
        width: fit-content;
        font-size: 20px;
    }

    .first_main {
        flex-direction: column-reverse;

    }

    .first_main .video {
        padding: 0;
        margin-bottom: 15px;
    }

    .first_main .sec {
        width: 100%;
        margin-top: 15px;
        margin-right: auto;
        padding: 0;
        text-align: center;
        letter-spacing: 2px;
    }

    .video #im {
        width: 600px;
    }

    .video video {
        width: 435px;
        position: absolute;
        top: 94px;
        left: 83px;
        z-index: -1;
    }

    .second_main {
        flex-direction: row-reverse;
    }

    .second_main .sec {
        width: 40%;
        height: 100%;
        color: white;
        padding-left: 3%;
        line-height: 1.5;
    }

    .second_main .download {
        top: 45%;
        left: 20%;
    }

    .second_main h2 {
        font-size: 45px;
    }

    .second_main p {
        font-size: 20px;
    }

    .fourth_main {
        flex-direction: column;
    }

    .fourth_main .sec {
        width: 100%;
        margin-top: 15px;
        margin-right: auto;
        padding: 0;
        text-align: center;
        letter-spacing: 2px;
    }
}

@media(max-width:768px) {
    .main h2 {
        font-size: 30px;
    }

    .main .first {
        font-size: 15px;
    }

    .main .pra {
        font-size: 10px;
    }

    .head .options {
        display: none;
    }

    .head {
        justify-content: space-between;
        padding: 0 8px;
    }

    .head .baar {
        font-size: 30px;
        color: #a59797;
        display: block;
    }

    .video #im {
        width: 450px;
    }

    .video video {
        width: 352px;
        position: absolute;
        top: 70px;
        left: 58px;
        z-index: -1;
    }

    .second_main {
        flex-direction: column;
    }

    .second_main .download {
        top: 45%;
        left: 25%;
    }

    .second_main .sec {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .second_main .sec h2 {
        font-size: 35px;
    }

    .fifth_main .sign {
        flex-direction: column;
        padding: 5px 0 8px 0;
    }

    .fifth_main .sign button {
        width: fit-content;
        font-size: 20px;
        margin-top: 10px;
    }
}

@media(max-width:576px) {
    .main h2 {
        font-size: 15px;
    }

    .main p {
        font-size: 10px;
    }

    .sub_main input[type='email'] {
        width: 300px;
    }

    .first_main {
        flex-direction: column-reverse;

    }

    .first_main .video {
        padding: 0;
        margin-bottom: 15px;
    }

    .first_main .sec h2 {
        font-size: 35px
    }

    .main .first {
        font-size: 10px;
    }

    .main .pra {
        text-align: center;
    }

    .video #im {
        width: 300px;
    }

    .video video {
        width: 230px;
        position: absolute;
        top: 46px;
        left: 39px;
        z-index: -1;
    }

    .fourth_main img {
        width: 250px;
    }

    .fifth_main .sign input[type='email'] {
        width: 300px;
    }

    #mobile {
        width: 250px;
        margin-left: 18%;
    }

    .second_main .download {
        top: 45%;
        left: 11%;
    }
}



/* media querry */